In [ ]:
Problem Set 2
Student:Shih Han Lee, Student ID:200572405

In [ ]:
Question 1
Consider the following Python module:
a = 0 def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?

In [ ]:
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement?

In [8]:
a = 0 
def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2
b()
b()
b()
a

6

In [7]:
#explaination:
a = 0
#Initializes a global variable a with value 0.

def b():
    global a
    a = c(a)    
#Define a function b that updates the global variable a by c(a).

def c(a):
    return a + 2
#Define a function c that adds 2 to the argument.

b()
# b() is called with the current global value of a (0), and c(a) returns 2 which is then assigned to the global variable a.

b()
During the second call to b(), the global value of a is updated to 2. c(a) is then called, and the result (2 + 2) is assigned back to a, making it 4.

b()
#On the third call to b(), c(a) is called with a value of 4, and the result (4 + 2) is assigned back to a, making its value 6.

a
#The current value of the global variable a is 6, so when evaluating a, it displays 6.

In [ ]:
Question 2
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
>>> fileLength('midterm.py') 284
>>> fileLength('idterm.py') Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module> fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [45]:
import os

def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            content = file.read()
            print(len(content))
    except FileNotFoundError:
        print("File " + filename + " is not found.")

fileLength("Filelength.txt")
fileLength("idterm.py")

123
File idterm.py is not found.

In [ ]:
Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y- axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents() ['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [5]:
class Marsupial:
    def __init__(self):
        self.pouch=[] 

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [33]:
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.x=x
        self.y=y
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
        
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

k.pouch_contents()
print(k.pouch_contents())

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [ ]:
Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛 3𝑥 
       + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.
>>> collatz(1) 1
>>> collatz(10) 10
5
16
8
4
2
1

In [34]:
def collatz(x):
    print(x)
    
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x//2)
    else:
        collatz(3*x+1)
collatz(1)

1

In [35]:
collatz(10)

10
5
16
8
4
2
1

In [ ]:
Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.
>>> binary(0) 0
>>> binary(1) 1
>>> binary(3) 11
>>> binary(9) 1001

In [50]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end="")
    
    
binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001
10110

In [ ]:
Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content) W3C Mission Principles

In [9]:
html_code = """
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Webpage description goes here" />
  <meta charset="utf-8">
  <title>Change_me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
	<h1>W3C Mission</h1>
	<h2>Principles</h2>
 
</body>
</html>
"""

with open('w3c.html', 'w', encoding='utf-8') as file:
    file.write(html_code)

In [17]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0
        self.last_tag = None

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and tag[1:].isdigit():
            self.indentation = int(tag[1:]) - 1
            self.last_tag = tag

    def handle_data(self, data):
        if self.last_tag:
            print(' ' * self.indentation + data)

    def handle_endtag(self, tag):
        self.last_tag = None


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [ ]:
Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [1]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent=0):
    if depth < 0:
        return

    try:
        
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        
        print(' ' * indent + url)

        if depth > 0:
            
            links = soup.find_all('a', href=True)

            for link in links:
                
                next_url = urljoin(url, link['href'])
                webdir(next_url, depth - 1, indent + 2)

    except Exception as e:
        print(f"Error accessing {url}: {e}")

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2,0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [32]:
webdir('https://www.runoob.com/python3/python-requests.html',2)

https://www.runoob.com/python3/python-requests.html
  https://www.runoob.com/
    https://www.runoob.com/
    https://www.runoob.com/
    https://c.runoob.com/
    https://www.runoob.com/w3cnote/
Error accessing javascript:void(0);: No connection adapters were found for 'javascript:void(0);'
    https://www.runoob.com/commentslist
    https://www.runoob.com/quiz/html-quiz.html
    https://www.runoob.com/browser-history
    https://www.runoob.com/tags/html-reference.html
    https://www.runoob.com/jsref/jsref-tutorial.html
    https://www.runoob.com/cssref/css-reference.html
    https://www.runoob.com/manual/zeptojs.html
    https://www.runoob.com/manual/Flat-UI/
    https://www.runoob.com/manual/PostgreSQL/
    https://www.runoob.com/quiz/html-quiz.html
    https://www.runoob.com/quiz/html5-quiz.html
    https://www.runoob.com/quiz/xhtml-quiz.html
    https://www.runoob.com/quiz/css-quiz.html
    https://www.runoob.com/quiz/javascript-quiz.html
    https://www.runoob.com/quiz/jquery-quiz.html
    https://www.runoob.com/quiz/xml-quiz.html
    https://www.runoob.com/quiz/asp-quiz.html
    https://www.runoob.com/quiz/php-quiz.html
    https://www.runoob.com/quiz/sql-quiz.html
    https://www.runoob.com/quiz/python-quiz.html
    https://www.runoob.com/html/html-tutorial.html
    https://www.runoob.com/html/html5-intro.html
    https://www.runoob.com/css/css-tutorial.html

KeyboardInterrupt:

In [ ]:
Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [7]:
%load_ext sql

In [8]:
%sql sqlite://

In [ ]:
%%sql
create table tb
(
    city TEXT,
    country TEXT,
    season TEXT,
    temp float,
    rain float
);
insert into tb (city, country, season, temp, rain)
VALUES
('Mumbai', 'India', 'Winter', 24.8, 5.9),
('Mumbai', 'India', 'Spring', 28.4, 16.2),
('Mumbai', 'India', 'Summer', 27.9, 1549.4),
('Mumbai', 'India', 'Fall', 27.6, 346.0),
('London', 'United Kingdom', 'Winter', 4.2, 207.7),
('London', 'United Kingdom', 'Spring', 8.3, 169.6),
('London', 'United Kingdom', 'Summer', 15.7, 157.0),
('London', 'United Kingdom', 'Fall', 10.4, 218.5),
('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

In [21]:
%sql SELECT * FROM tb;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [22]:
# a) All the temperature data.
%sql SELECT temp FROM tb

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [24]:
#b) All the cities, but without repetition.
%sql SELECT DISTINCT city FROM tb;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [36]:
# c) All the records for India.
%sql SELECT * FROM tb where country = 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [37]:
# d) All the Fall records.
%sql SELECT * FROM tb where season = 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [45]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
%sql SELECT city, country, season FROM tb where rain >= 200 and rain <= 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [47]:
# f)The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
%sql SELECT city, country FROM tb where season = 'Fall' and temp >20 order by temp;

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [55]:
# g) The total annual rainfall for Cairo.
%sql SELECT city, SUM(rain) as total_rainfall from tb where city = 'Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

In [56]:
#h) The total rainfall for each season.
%sql SELECT season, SUM(rain) as total_rainfall from tb group by season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [ ]:
Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [61]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [67]:
#a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [68]:
#b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [69]:
#c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [ ]:
#d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [71]:
[[word.upper(),word.lower(),len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [72]:
#e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']